
@{
    ViewBag.Title = "Add";
}

<h2>Add</h2>

<form submit="/Add" method="post">
    <input name="firstName" />
    <input name="lastName" />
    @* A button with a submit type will "post" the form when clicked. Any input values will be sent along with the POST requestwith the "name" attribute as the key in the key/value pair. *@
    <button type="submit">Add Student</button>
</form>